flask==2.2.5
flask-cors==3.0.10
python-dotenv==1.0.0
anthropic==0.11.0
sentence-transformers==2.2.2
torch>=2.0.0
numpy>=1.24.0
scipy>=1.10.0
scikit-learn>=1.2.2
pandas>=2.0.3
httpx==0.23.3
huggingface-hub==0.14.1